@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
}

.modal{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
    background-color: rgb(224, 224, 224);
    height: 500px;
    width: 600px;
    justify-content: center;
    margin-left: 400px;
    border-radius: 20px; 
    
}

.title{
    font-weight: 300;
}


.info{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}

.info2{
    font-size: 20px;
}

.btn-modal{
    background-color: #2A3342;
    color: white;
    font-family: raleway;
    border: 0;
    margin-top: 70px;
    width: 220px;
    height: 50px;
    border-radius: 15px;
    font-size: 17px;
    margin-left: 210px;
}

.btn-modal:hover{
    background-color: rgb(33, 35, 38);
    transition: all ease 0.2s;
}


